name: Go
on: [push, pull_request]
jobs:

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 1

    - name: Cache Go modules
      uses: actions/cache@v4
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-build-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.OS }}-build-

    - name: Lint
      uses: golangci/golangci-lint-action@v4
      with:
        version: latest
        args: -v -c .golangci.yaml

    - name: Build
      env:
        CGO_ENABLED: 0
      run: make build

    - name: Test
      run: make test
